<%- include('../layouts/header') %> 

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="/styles2.css" rel="stylesheet">
</head>

<body>
    <form action="/rel/<%=project.id%>" method="GET"></form>
    <section class="page-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Release Notes of <%= project.name %></h2>
                    <hr class="divider" />
                </div>
            </div>
        </div>

        <div class="form-row text-center">
            <div class="col-12">
              <a href="/rel/<%=project.id%>/new" class="btn btn-primary">Add New Release Note</a>
            </div>
          </div>
</section>

<section id="services" class="services container">
            
    <div class="row gy-4">
        <% releasenotes.forEach( releasenote => { %>
        <div class="col-md-6-user" data-aos="fade-up" data-aos-delay="300">
        <div class="service-box service-box-left orange">
          <h3><%= releasenote.title %></h3>
          <% if (releasenote.path != null) { %>
            <a href="/userprofile/<%=releasenote.id%>" class="read-more"><span>Download</span></a><br>
          <% } %>
          <a href="/rel/<%=project.id%>/<%=releasenote.id%>">View</a><br>
          <a href="/rel/<%=project.id%>/<%=releasenote.id%>/edit">Edit</a><br>
          <a href="/rel/<%=project.id%>/<%=releasenote.id%>/copy">Copy</a>
        </div>
      </div>
      <% }) %>
    </div>
</section>
</body>

