<%- include('../layouts/header') %> 

<form action="/rel/<%=project.id%>" method="GET">
    <h2>Release Notes of <%= project.name %> </h2>

    <a href="/rel/<%=project.id%>/new">Add New Release Note</a>
    <br><br>

    <% releasenotes.forEach( releasenote => { %>
        <div><%= releasenote.title %>
            <br>
            <%= releasenote.releaseVersion %>
            <br>
            <div id="file-input"><%= releasenote.description %>
            </div>
            <%= releasenote.CreatedAt.toISOString().split('T')[0] %>
            <br>
            <a href="/rel/<%=project.id%>/<%=releasenote.id%>">Download</a>
            <br><br>
        </div>
    <% }) %>
</form>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("file-input") });
</script>