<%- include('../layouts/header') %>

<h2>Welcome to your profile <%= user.username %> </h2>

<h3> Releasenotes added: </h3>

<% releasenotes.forEach( releasenote => { %>
    <div><%= releasenote.title %>
        <br>
        <%= releasenote.releaseVersion %>
        <br>
        <%= releasenote.description %>
        <br>
        <%= releasenote.CreatedAt.toISOString().split('T')[0] %>
        <br>
        <a href="/userprofile/<%=releasenote.id%>">Download</a>
        <br>
        <%- include('../layouts/delete', { url: `/userprofile/${releasenote.id}` }) %>
        <br><br>
    </div>
<% }) %>